* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 85%;
	max-width: 1360px;
	margin: 0 auto;
}
.btn {
	background-color: #30b868;
	border: none;
	padding: 12px 16px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	display: inline-block;
}
.btn:hover {
	background-color: transparent;
	color: #30b868;
	border: 1px solid #30b868;
}
body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}
img {
	vertical-align: middle;
}

.circle3 {
	width: 6px;
	height: 6px;
	background-color: #30b868;
	border-radius: 50%;
}
.circle2 {
	width: 12px;
	height: 12px;
	background-color: rgba(48, 184, 105, 0.4);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle1 {
	width: 16px;
	height: 16px;
	background-color: rgba(48, 184, 105, 0.25);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* shared css */

/* Header section */

#header-section {
	padding: 16px 0;
}
#header-section .menu-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-section .menu-content ul {
	display: flex;
	gap: 32px;
	list-style: none;
}

#header-section .menu-content ul li a {
	text-decoration: none;
	color: #000;
}