* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 85%;
	max-width: 1360px;
	margin: 0 auto;
}
.btn {
	background-color: #30b868;
	border: none;
	padding: 12px 16px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	display: inline-block;
}
.btn:hover {
	background-color: transparent;
	color: #30b868;
	border: 1px solid #30b868;
}
body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}
img {
	vertical-align: middle;
}

.circle3 {
	width: 6px;
	height: 6px;
	background-color: #30b868;
	border-radius: 50%;
}
.circle2 {
	width: 12px;
	height: 12px;
	background-color: rgba(48, 184, 105, 0.4);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle1 {
	width: 16px;
	height: 16px;
	background-color: rgba(48, 184, 105, 0.25);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* shared css */

/* Header section */

#header-section {
	padding: 16px 0;
}
#header-section .menu-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-section .menu-content ul {
	display: flex;
	gap: 32px;
	list-style: none;
}

#header-section .menu-content ul li a {
	text-decoration: none;
	color: #000;
}

/* Banner section */

#banner {
	background-image: linear-gradient(
			30deg,
			rgba(0, 128, 0, 0.2),
			rgba(255, 255, 255, 0.2)
		),
		url(../assets/hero-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#banner .banner-content {
	max-width: 770px;
	text-align: center;
	margin: 0 auto;
	padding-top: 115px;
}

#banner .banner-content .banner-top {
	background-color: #fff;
	padding: 8px 12px;
	display: inline-flex;
	gap: 6px;
	align-items: center;
	border-radius: 25px;
	margin-bottom: 25px;
}
#banner .banner-content .banner-top .top-para {
	font-size: 16px;
	font-weight: 600;
	color: #30b868;
}
#banner .banner-content h1 {
	font-size: 72px;
	font-weight: 700;
	line-height: 84px;
	color: #fff;
	margin-bottom: 16px;
}
#banner .banner-content h1 span {
	color: #30b868;
}
#banner .banner-content .bottom-para {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	margin-bottom: 32px;
}
#banner .banner-content .btn-group {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-bottom: 179px;
}

#banner .banner-content .btn-group .btn:nth-child(1) i {
	margin-left: 10px;
}
#banner .banner-content .btn-group .btn:nth-child(2) {
	background-color: transparent;
	border: 1px solid #fff;
	transition: all linear 0.4s;
}
#banner .banner-content .btn-group .btn:nth-child(2) i {
	margin-right: 10px;
}

#banner .banner-content .btn-group .btn:nth-child(2):hover {
	background-color: #30b868;
	color: #fff;
	border: none;
}
#banner .banner-content .btn-group .btn:nth-child(1):hover {
	color: #fff;
	border: 1px solid #fff;
}

/* Notes section */

#notes {
	padding-top: 70px;
	padding-bottom: 120px;
}
#notes .notes-content {
	text-align: center;
}
#notes .notes-content .notes-header h2 {
	font-size: 48px;
	font-weight: 700;
	color: #001931;
	margin-bottom: 16px;
}
#notes .notes-content .notes-header p {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #627382;
	margin-bottom: 44px;
}
#notes .notes-content .notes-card-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}
#notes .notes-content .notes-card-items .notes-card {
	max-width: 322px;
	height: 300px;
	padding: 24px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
#notes .notes-content .notes-card-items .notes-card .icon-image {
	width: 60px;
	height: 60px;
	background-color: #f95555;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
#notes .notes-content .notes-card-items .notes-card h3 {
	font-size: 24px;
	font-weight: 600;
	color: #001931;
	margin: 16px 0;
}
#notes .notes-content .notes-card-items .notes-card p {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #627382;
}

/* Solution Section */
#solution {
	margin-bottom: 120px;
}
#solution .solution-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}
#solution .solution-content .solution-image {
	max-width: 600px;
}
#solution .solution-content .solution-right {
	max-width: 700px;
}
#solution .solution-content .solution-right .solution-para1 {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: #30b868;
}
#solution .solution-content .solution-right h2 {
	font-size: 48px;
	font-weight: 700;
	color: #001931;
	margin: 16px 0;
}
#solution .solution-content .solution-right .solution-para2 {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #627382;
	display: inline-block;
	max-width: 470px;
}
#solution .solution-content .solution-right ul {
	list-style: none;
	margin-top: 40px;
}
#solution .solution-content .solution-right ul li {
	margin-bottom: 16px;
}
#solution .solution-content .solution-right ul li img {
	margin-right: 6px;
}
#solution .solution-content .solution-right ul li span {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: #001931;
}
